.hero_Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    
    
}


    

.logo{
    
    pointer-events: none;
    
    width: 30%;
    height: 40%;
    
   
    
}

.hero_Div a{
    width: 10%;
    text-decoration: none;
}

.hero_Div p{
    margin: .3%;
}
@font-face {
    font-family:'PrettyVintage';
    src: url('PrettyVintage.otf') format('opentype');
    font-style: normal;
    font-weight: 300;
  }

.instagramButton{
    margin: 10%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: whitesmoke;
    cursor: pointer;
    border: 1px solid rgb(233, 230, 230);
    width: 100%;
    

}

.instagramButton:hover{
    width: 103%;

    margin-left: -1%;
    transition: .3s;
    border: 1px solid gray;
}



.instaIcon{
    margin: 5%;
    width: 18px;
    height: 18px;
}

.instagramP{
    text-decoration: none;
    
}

@media (max-width: 900px) {

    .hero_Div a{
        width: 35%;
        text-decoration: none;
    }
    .instagramButton{
        
        width: 100%;
        margin-bottom: 40%;

    }
    .logo{
    
        
        
        width: 70%;
        height: 70%;
        
       
        
    }
      
    }