.productCard{

    width: 29%;
    user-select: none;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    

}

.image{
    
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    object-fit: contain;
}

.cardButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.addCartButton{
    width: 70%;
    height: 40px;
    background-image: linear-gradient(to right, rgb(228, 88, 158) 0%, rgba(251,104,149,1) 69%);
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);

    
}

.addCartButton:hover{
    border: 1px solid gray;
    width: 73%;
    
    transition: .3s;
}

.descriptionDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.descriptionDiv p{
    font-size: 1em;
    margin: 2%;
}

.title{
    font-weight: 100;
    font-family: Helvetica, sans-serif;
    border-bottom: 1px  solid gray;
    font-family:'PrettyVintage';
    padding-bottom: 1%;
}

@media (max-width: 900px) {
    .productCard{

        width: 85%;
        margin: auto;
    
    }
    .addCartButton{
        width: 100%;
        height: 45px;
        background-color: whitesmoke;
        border: none;
        cursor: pointer;
    
        
    }
    .addCartButton:hover{
        width: 100%;
        height: 45px;
        background-color: whitesmoke;
        border: none;
        cursor: pointer;
    }
    .descriptionDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
       
        margin-bottom: 8%;
        
    }
    
   
}